<!doctype html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <title>无标题文档</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= webConfig.title%></title>
    <meta name="keywords" content="<%= webConfig.keywords%>">
    <meta name="description" content="<%= webConfig.description%>">
    <link rel="stylesheet" type="text/css" href="public/home/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/home/css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="public/home/css/style.css">
    <link rel="stylesheet" type="text/css" href="public/home/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="public/home/css/buttons.css">
    <link rel="apple-touch-icon-precomposed" href="public/home/images/icon/icon.png">
    <link rel="shortcut icon" href="public/home/images/icon/favicon.ico">
    <link rel="stylesheet" href="public/home/css/pagination.css"/>

    <script src="public/home/js/jquery-2.1.4.min.js"></script>
    <script src="public/home/js/nprogress.js"></script>
    <script src="public/home/js/jquery.lazyload.min.js"></script>
    <script src="public/admin/js/pintuer.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <style type="text/css">
        .locationlabel {
            margin: 10px;
            padding: 8px;
            background: #54d1f4;
            /*color: whitesmoke;*/
            margin: 5px;
            border: 1px solid;
            border-radius: 5px;
            display: inline-block;
            font-size: small;
        }

        .schoollabel {
            margin: 10px;
            padding: 8px;
            background: #b8f3a5;
            /*color: whitesmoke;*/
            margin: 5px;
            border: 1px solid;
            border-radius: 5px;
            display: inline-block;
            font-size: small;
        }

        .deleteImg {
            width: 12px;
            height: 12px;
            margin-left: 10px;
        }

        .deleteAllImg {
            width: 12px;
            height: 12px;
        }

        .inspect {
            width: 20px;
            height: 20px;
            float: right;
            margin-left: 20px;
        }

        .list-group-item {
            margin-bottom: 10px;
            color: #000;
            border: solid black;
            margin-top: 5px;
        }

        .setPageDiv {
            width: 100%;
            margin: auto;
            /*margin-bottom: 91px;*/
            /*margin-top: 37px;*/
        }

        #pagination {
            margin: 0 auto;
            /*margin-left: 100px;*/
        }

        #search {
            border: 3px solid black;
        }

        .searchImg {
            width: 36px;
            height: 36px;
            /*margin-left: 6px;*/
        }

    </style>
</head>

<body class="user-select">
<div class="container-fluid content-wrap">
    <div class="row clearfix">

        <div class="col-md-12 column">
            <div class="row clearfix">

                <div class="col-md-9 column" style="padding: 0px;">
                    <div class="w clearfix mt10">
                        <div class="store_distribution_map w mb15">
                            <div class="img_area" style="overflow-x:scroll;">
                                <img src="public/card/images/a.png" name="JS_exprMap" usemap="#Map"
                                     class="maphilighted1"
                                     id="JS_exprMap"/>
                                <map name="Map" id="Map">
                                    <area shape="poly"
                                          coords="419,704,434,698,452,667,424,537,445,524,474,517,500,519,527,526,542,501,523,491,499,485,473,484,457,488,439,495,410,507,398,525,369,549,375,566,364,573,364,603,382,620,374,638,366,650,366,667"
                                          href="javascript:;" alt="海华苑"/>
                                    <area shape="poly"
                                          coords="476,772,550,726,613,702,687,680,765,662,760,632,728,630,673,645,593,666,586,643,538,657,532,629,480,644,485,672,461,687,466,714,459,739"
                                          href="javascript:;" alt="海华苑"/>
                                    <area shape="poly"
                                          coords="679,549,684,579,679,611,710,614,711,632,757,622,745,579,723,564,713,542"
                                          href="javascript:;" alt="学三食堂"/>
                                    <area shape="poly" coords="446,804,488,853,542,857,666,769,753,739,721,680,576,724"
                                          href="javascript:;" alt="燕华苑"/>
                                    <area shape="poly"
                                          coords="891,522,875,516,867,524,827,491,853,464,882,435,908,428,927,437,932,445,936,455,937,466,936,474,930,481,921,489,912,497,906,514,900,525"
                                          href="javascript:;" alt="丽泽楼"/>
                                    <area shape="poly" coords="1026,369,1086,351,1120,401,1058,431"
                                          href="javascript:;" alt="木铎楼"/>
                                    <area shape="poly"
                                          coords="1023,371,1054,433,1003,458,980,404,995,395,990,383,999,379"
                                          href="javascript:;" alt="金声楼"/>
                                    <area shape="poly" coords="1093,354,1125,400,1173,376,1150,352,1138,340,1124,346"
                                          href="javascript:;" alt="弘文楼"/>
                                    <area shape="poly"
                                          coords="1162,302,1169,294,1176,289,1218,275,1223,275,1251,303,1213,341,1198,332,1182,348,1154,320"
                                          href="javascript:;" alt="元白楼"/>
                                    <area shape="poly"
                                          coords="1301,263,1381,333,1435,279,1355,199,1333,214,1318,229,1311,241"
                                          href="javascript:;" alt="图书馆"/>
                                    <area shape="poly" coords="1303,125,1366,185,1419,120,1352,70"
                                          href="javascript:;" alt="乐育楼"/>
                                    <area shape="poly" coords="1420,64,1556,212,1598,170,1598,165,1470,25"
                                          href="javascript:;" alt="京师家园"/>
                                    <area shape="poly"
                                          coords="1449,279,1537,363,1571,288,1572,281,1565,274,1550,259,1491,200,1476,238"
                                          href="javascript:;" alt="励耘楼"/>
                                    <area shape="poly"
                                          coords="1068,584,1101,582,1130,569,1152,546,1163,497,1149,484,1110,489,1097,505,1064,533"
                                          href="javascript:;" alt="体育馆"/>
                                    <area shape="poly" coords="964,554,964,653,1003,668,1041,646,1041,541,1002,528"
                                          href="javascript:;" alt="田径场"/>
                                    <area shape="poly"
                                          coords="930,725,936,810,968,810,1000,792,1011,786,1043,777,1043,725"
                                          href="javascript:;" alt="游泳池"/>
                                    <area shape="poly"
                                          coords="1171,708,1125,729,1201,846,1210,876,1268,890,1305,845,1301,804,1285,744,1264,718"
                                          href="javascript:;" alt="励教楼"/>
                                    <area shape="poly" coords="1276,713,1312,677,1438,703,1423,775,1316,763"
                                          href="javascript:;" alt="南曦园"/>
                                    <area shape="poly" coords="1444,552,1471,547,1501,464,1481,444,1449,446,1418,532"
                                          href="javascript:;" alt="国交足球场"/>
                                    <area shape="poly" coords="1665,479,1676,497,1668,548,1603,532,1610,489,1631,479"
                                          href="javascript:;" alt="学一食堂"/>
                                    <area shape="poly" coords="1606,674,1647,691,1638,757,1600,769,1575,739"
                                          href="javascript:;" alt="学二食堂"/>
                                    <area shape="poly"
                                          coords="1671,297,1706,306,1671,572,1614,840,1503,1012,1451,1021,1547,644,1581,514"
                                          href="javascript:;" alt="粤华苑"/>
                                    <area shape="poly"
                                          coords="1172,1124,1231,1151,1293,1083,1329,1099,1366,1089,1418,933,1350,938,1293,984,1225,985,1191,1007,1166,1031,1166,1058"
                                          href="javascript:;" alt="文华苑"/>
                                    <area shape="poly" coords="63,867,210,867,247,926,264,982,63,982"
                                          href="javascript:;" alt="会同街"/>
                                    <area shape="poly"
                                          coords="246,841,300,825,342,825,342,714,342,690,337,675,314,671,293,686,267,733,267,772,241,788"
                                          href="javascript:;" alt="京华苑">
                                </map>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 column" style="padding: 10px;">
                    <div style="position: fixed;height: 100%;width: 24%">
                        <div class="widget" style=";margin: 0 auto;width: 100%;height: 97%;padding:30px;">
                            <div class="col-sm-12" style="white-space:nowrap">
                                <input type="text" id="search"
                                       style="width: 80%;height: 100%;padding: 8px;margin-bottom: 15px;margin-left: 6px;"
                                       onkeypress="onKeyPress(event);"/>
                                <button id="searchText" style="background-color: white;border: none;"><img
                                        src="/public/card/icon/search.png" class="searchImg"/></button>

                                <!--<button style="height: 100%;">搜索</button>-->
                                <!--<span class="input-group-addon" style="height: 100%;">-->
                                <!--<i class="glyphicon glyphicon-search"></i>-->
                                <!--</span><br>-->
                            </div>
                            <form class="form-horizontal" style="margin: 20px;font-size: 18px;">

                                <div class="form-group">
                                    <div class="col-sm-9" style="white-space:nowrap">
                                        <select class="selectpicker" id="selectSchool" name="stu_school"></select>
                                        <!--<button type="button" class="btn btn-default" id="deleteAllSchool" style="margin-left: 8%"><img src="/public/card/icon/delete_all.png" class="deleteAllImg"></button>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-9" style="white-space:nowrap">
                                        <select class="selectpicker" id="selectLocation" name="lost_location"></select>
                                        <button type="button" class="btn btn-default" id="deleteAllLabel"
                                                style="margin-left: 8%"><img src="/public/card/icon/delete_all.png"
                                                                             class="deleteAllImg"></button>
                                    </div>
                                </div>
                            </form>
                            <div class="mylabel" style="height: 13%">
                                <!--<span class="locationlabel">-->
                                <!--<span>木铎楼</span>-->
                                <!--<a href="#" style="color: white;" class="delete"><img-->
                                <!--src='/public/card/icon/delete.png' class='deleteImg'></a>-->
                                <!--</span>-->
                                <!--<span class="schoollabel">-->
                                <!--<span>信息技术学院</span>-->
                                <!--<a href="#" style="color: white;" class="delete"><img-->
                                <!--src='/public/card/icon/delete.png' class='deleteImg'></a>-->
                                <!--</span>-->
                            </div>
                            <ul class='list-group'>
                                <!--<a href="#">-->
                                <!--<div class='list-group-item' name="xh1701040120">-->
                                <!--1701040120<br>-->
                                <!--叶威强<img src="/public/card/icon/inspect.png" class="inspect"/><span-->
                                <!--style="float: right;font-size: larger">励耘楼</span><br>-->
                                <!--信息技术学院<br>-->

                                <!--</div>-->
                                <!--</a>-->

                            </ul>
                            <div class="setPageDiv">
                                <div class="Pagination" id="pagination"></div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <span id="picker"></span>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>


    </div>
</div>


</body>
<!--<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
<script src="http://code.jquery.com/jquery-1.7.min.js" type="text/javascript"></script>
<script src="public/card/js/jq.js"></script>
<script type="text/javascript" src="public/card/js/map_highlight.min.js"></script>
<script src="public/home/js/bootstrap.min.js"></script>
<script src="public/home/js/jquery.ias.js"></script>
<!--<script src="public/home/js/scripts.js"></script>-->
<script src="public/home/js/uploadStyle.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="public/home/js/jquery.pagination.js"></script>

<script type="text/javascript">
    var pageNum = 4;
    var searchSchoolText = [];
    var searchLocationText = [];

    var locations = [
        "励耘楼", "乐育楼", "元白楼", "弘文楼", "木铎楼", "金声楼", "丽泽楼", "励教楼", "南曦园",
        "图书馆", "海华苑", "京华苑", "燕华苑", "粤华苑", "文华苑", "田径场", "国交足球场", "体育馆",
        "学一食堂", "学二食堂", "学三食堂", "游泳池", "京师家园", "会同街",
    ];
    var schools = [
        "教育学院", "文学院", "信息技术学院", "国际商学部", "管理学院", "不动产学院", "法律与行政学院", "设计学院", "艺术与传播学院",
        "工程技术学院", "外国语学院", "应用数学学院", "物流学院", "运动休闲学院", "马克思主义学院", "继续教育学院", "未来地球研究院"
    ];
    var buildingDescribe = {

        "励耘楼": "“励耘”源自北师大老校长陈垣先生的书屋名叫“励耘书屋”。中文系著名教授、文献学研究专家启功先生为报师恩，设立了励耘讲学助学基金。" +
            "以“励耘”命名，借此表达陈垣老校长和启功先生对北师大学子的治学期望。"
        ,
        "乐育楼": "“乐育”取自“《菁菁者莪》：乐育材也。君子能长育人材，天下喜乐之也。这段话意思是老师的职业向往是成为品德高尚乐于育人的好老师。乐育楼被同学们戏称为“最偏僻的教学楼”，只因它位于北师珠的“角落”，事实上由于隐世而立，更为乐育楼平添了神秘高洁的色彩。"
        ,
        "元白楼": "“元白”为中国著名教育学家启功先生字，将教学楼以启功先生字命名，也是为了纪念启功先生。元白楼原名“设计楼”，也就是设计院同学上课创作的教学楼。独特的艺术气息，也成了学校的“网红打卡点”。"
        ,
        "弘文楼": "“弘文”，一是北师大本部有“ 弘文励教”光荣传统；二是唐朝“弘文馆”藏书馆，也是皇帝招贤纳士的场所。取名弘文，表达了北师珠汇聚、培养人才的美好愿景。" +
            "弘文楼原名综合楼，也被称为“英语楼”，学校内所有学生大学英语课程都在弘文楼进行。"
        ,
        "木铎楼": "“木铎”取自《论语》“天下之无道也久矣，天将以夫子为木铎”，有教化民众之意。同时也因“木铎”是北师大的标志物，以木铎为名展现北师特色风范。"
        ,
        "金声楼": "金声，比喻音韵响亮、和谐，也比喻人的知识渊博、才学精到。孟子曾引用“金声玉振”来称颂孔子的思想为“集大成”。取名金声表明了学校对学子们的殷切希望。金声楼与木铎楼是校内“阳气”最重的地方，因为两栋楼是信息与技术学院、工程学院两大学院的学生主要上课点。"
        ,
        "丽泽楼": "“丽泽”出自《易经》：丽泽兑，君子以朋友讲习。意思是与朋友交流学习、分享心得。这是距离生活区最近的教学楼，也是许多社团日常例会的场所，所以这也成为学生选课时最受欢迎的教学楼。"
        ,
        "励教楼": "“励教”取自以励风教，育人为本。励教楼是原UIC（北京师范大学-香港浸会大学联合国际学院）教学楼。励教楼具有香港特有的艺术设计感，也是学子们电影作业拍摄的重要场所。"
        ,
        "南曦园": "取名南曦园，一是因其位于北师珠校园南边，二是与北师大本部“曦园”相呼应。在南曦园上课的主要是艺术与传播学院的教学楼，也就是说在南曦园你能够偶遇播音、舞蹈、影视专业的漂亮小姐姐帅气小哥哥。另外，南曦园艺传学院同学最常举办展览话剧演出等专业实践活动的场所。"
        ,
        "田径场": "北师珠建有足球场两个，350米、400米标准塑胶运动场各一个。大型集会、军训演练在大型足球场也是室外体育的学生、夜晚是夜跑、双节棍训练和足球训练的场所，也是国际青少年足球比赛的举办场所。小型的足球场进行校内球队足球训练、学院、教职工比赛都在小足球场举行。"
        ,
        "国交足球场": "北师珠建有足球场两个，350米、400米标准塑胶运动场各一个。大型集会、军训演练在大型足球场也是室外体育的学生、夜晚是夜跑、双节棍训练和足球训练的场所，也是国际青少年足球比赛的举办场所。小型的足球场进行校内球队足球训练、学院、教职工比赛都在小足球场举行。"
        ,
        "体育馆": "大足球场旁就是风雨操场，由于外观神似乌龟背，因此又被称为龟壳。龟壳有篮球场、排球场、羽毛球场、乒乓球场等，甚至在二楼还有环形塑胶跑道，所以即便下雨的体育课，也是躲不过课前热身长跑的。"
        ,
        "海华苑": "海华苑被称为“北师珠CBD”，因海华苑周边分布了奶茶、小吃、餐厅等各种商店，就连宿舍区两大电瓶乘车点也布在海华苑。"
        ,
        "京华苑": "京华苑在北师珠校园的最西边，宿舍以五栋白色建筑构成，楼层参差不齐，却有独特美感，形成一道美景，因而也被称为北师珠“布达拉宫”。"
        ,
        "燕华苑": "燕华苑是被自然生态环保的宿舍区，不仅养人还养猫。燕华苑是北师珠“猫奴”最喜欢的地方，在燕华苑的宿舍楼下聚集了许多“流浪猫”，它们不认生，甚至有别样的傲娇。不管什么时候你都能看到学校的小哥哥小姐姐带着猫粮只求“博猫一笑”。"
        ,
        "粤华苑": "粤华苑被誉为“北师珠养老院”，环境优美远离喧嚣，但农行、照相馆、超市、快递点、面包店、两大食堂等生活必备服务一应俱全，甚至还有健身房、篮球场、网球场、攀岩馆等运动场所满足爱好运动的同学们。"
        ,
        "学一食堂": "学一食堂菜色丰富，一楼以自选煲汤为主。因为“形势与政策”霸位，许多学生都喜欢到学一买份酱香饼配上紫薯汁，果腹又减肥，尤其是能节约用餐时间守住位置。"
        ,
        "学二食堂": "学二食堂在粤华深处，学二食堂以各地小吃、粉面为主，因为偏僻，饭点不用排队。"
        ,
        "学三食堂": "学三食堂在海华苑，是北师珠菜式最丰富的食堂，一到饭点就会人满为患，所以在学三食堂吃饭一定要有足够耐心，还要有为美食饿的起的决心。"
        ,
        "游泳池": "北师珠的游泳馆，一直如度假村般的存在。学生凭借五块钱就可以享受露天豪华游泳池，简直太美好了！"
        ,
        "文华苑": "新装修的文华苑无疑是最豪华的宿舍，不仅有图书馆还配套免费健身房，更有运动休闲学院的研究生私教小哥哥小姐姐哦！"
        ,
        "会同街": "忙碌了一天的学习，来到会同烧烤街撸串是再美好不过的事情了，会同街因为店铺较大，聚会比较方便，而且在京华苑走过去几分钟就可以到达，经常会成为社团聚会的首选位置。"
        ,
        "京师家园": "这里居住的大多数是老师，也有考研、养宠物的学生居住在这里，比起学校的宿舍，这里具有24小时的热水，不停电；去乐育楼和励耘楼上课，走路五分钟就可以到达课室。"


    };

    for (var value of schools) {
        $('#selectSchool').append("<option value='" + value + "'>" + value + "</option>")
    }

    for (var value of locations) {
        $("#selectLocation").append("<option value='" + value + "'>" + value + "</option>")
    }

    // $.get("/getcardlist", function (data, status) {
    //     console.log(data);
    //     console.log(typeof(data));
    //     var result = JSON.parse(data);
    //     console.log(result)
    //     // alert(result)
    //     var newElement = "";
    //     $.each(result, function (i, val) {
    //         // console.log(i)
    //         // console.log(val.stu_no)
    //         // console.log(val.stu_name)
    //         newElement += "<a href='#'>" +
    //             "<div class='list-group-item' name='xh" + val.stu_no + "'>" +
    //             val.stu_no + "<br>" +
    //             val.stu_name + "<img src='/public/card/icon/inspect.png' class='inspect'/><span style='float: right;font-size: larger'>励耘楼</span><br>" +
    //             val.stu_school + "<br>" +
    //             "</div></a>";
    //
    //     });
    //     $('.list-group').append(newElement)
    // });

    $(document).ready(function () {

        $('.setPageDiv').change(function () {

            getMsg(parseInt($(this).val()))
        });


        getMsg(pageNum);


        $(".delete").click(function () {
            $(this).parent().remove()
        });

        //下拉框选择地点后自动更换图片
        $('#selectLocation').change(function () {
            var locationVal = $("#selectLocation").val();
            if (searchLocationText.indexOf(locationVal) === -1) {
                addLocationLabel($("#selectLocation").val());
                searchLocationText.push(locationVal);
                getMsg(pageNum);
            } else {
                alert("你已选择" + locationVal + "!");
            }

        });

        $('#selectSchool').change(function () {
            var schoolVal = $("#selectSchool").val();
            if (searchSchoolText.indexOf(schoolVal) === -1) {
                $(".mylabel").append("<span class='schoollabel'><span>" + schoolVal + "</span><a href='#' style='color: white;' class='delete'><img src='/public/card/icon/delete.png' class='deleteImg'></a></span>");
                $(".delete").click(function () {
                    $(this).parent().remove();
                    searchSchoolText.remove(schoolVal)
                    getMsg(pageNum);
                });
                searchSchoolText.push(schoolVal);
                getMsg(pageNum);
            } else {
                alert("你已选择" + schoolVal + "!");
            }

        });

        $("#deleteAllLabel").click(function () {
            searchLocationText = [];
            searchSchoolText = [];
            $('.mylabel').empty('.schoollabel');
            getMsg(pageNum);
        });

        // $('#submit').click(function () {
        //     console.log($("#selectLocation").val())
        // });

        $("#JS_exprMap").maphilight({
            strokeColor: "666666",
            // fillColor: "yellow",
//        alwaysOn :"true",
        });

        //地图
        $("area").each(function () {

            var firstcoord = $(this).attr("coords").split(",")[0];
            var index_num = 0;
            var name = $(this).attr("alt");
            $(this).click(function () {
                //点击地图上的建筑物更换下拉框的地址
                $('#selectLocation').selectpicker('val', (name));
                if (searchLocationText.indexOf(name) === -1) {
                    addLocationLabel(name);
                    searchLocationText.push(name)
                    getMsg(pageNum);
                } else {
                    alert("你已选择" + name + "!");
                }
            });
            $(this).mouseenter(function (e) {
                // index_num = $(this).index();
                // console.log(name);
                $('.buildingName').html(name);
                $('.buildingDescribe').html(buildingDescribe[name]);


            });
        });

        function addLocationLabel(name) {
            $(".mylabel").append("<span class='locationlabel'><span>" + name + "</span><a href='#' style='color: white;' class='delete'><img src='/public/card/icon/delete.png' class='deleteImg'></a></span>");
            $(".delete").click(function () {
                $(this).parent().remove();
                searchLocationText.remove(name)
                getMsg(pageNum);
            });
        }

        $('#searchText').click(function () {
            getMsg(pageNum);
        })


    });

    function getMsg(num) {
        $.ajax({
            url: '/getcardlist',
            type: 'GET',
            data: {
                search: $('#search').val(),
                searchSchool: searchSchoolText,
                searchLocation: searchLocationText
            },
            dataType: 'json',
            success: function (data) {
                // console.log(data.list);
                // console.log(typeof(data.list))
                //1.计算分页数量
                var showNum = num;
                var dataL = data.list.length;
                var pageNum = Math.ceil(dataL / showNum);
                $('.Pagination').pagination(pageNum, {
                    num_edge_entries: 1, //边缘页数
                    num_display_entries: 4, //主体页数
                    items_per_page: 1, //每页显示1项
                    prev_text: "上一页",
                    next_text: "下一页",
                    callback: function (index) {
                        // var newElement = "";
                        $('.list-group').empty();

                        // console.log(showNum * index + '~' + parseInt(showNum * index) + parseInt(showNum));
                        // console.log("index:" + index)
                        for (var i = showNum * index; i < showNum * index + showNum; i++) {
                            // console.log(i);
                            if (i < dataL) {
                                var date = new Date(data.list[i].publish_time);
                                M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
                                D = date.getDate() + ' ';
                                 var newElement = "<span style='cursor:pointer' data-toggle='modal'  class='detailCard' id=card" + data.list[i].id + ">" +
                                // newElement += "<a href='/detailcard?id=" + data.list[i].id + "' data-toggle='modal' data-target='#detailModal'>" +
                                    "<div class='list-group-item' name='xh" + data.list[i].stu_no + "'>" +
                                    data.list[i].stu_no + "<span style='float:right'>" + getDate('mm-dd', data.list[i].publish_time*1000) + "发布</span><br>" +
                                    data.list[i].stu_name + "<br>" +
                                    data.list[i].stu_school + "<img src='/public/card/icon/inspect.png' class='inspect'/><span style='float: right;font-size: larger'>" + data.list[i].lost_location + "</span><br>" +
                                    "</div></span>";

                                $('.detailCard').click(function () {
                                    alert($(this).attr("id"))
                                    console.log($(this).attr('id'))
                                    $("#picker").val()
                                });
                                $('.list-group').append(newElement)

                            }
                        }



                    }
                })

            }
        })
    }


    /* 搜索框  */
    function onKeyPress(event) {
        if (event.keyCode == 13) { // enter 键
            getMsg(pageNum);
        }
    }

    Array.prototype.remove = function (val) {
        var index = this.indexOf(val);
        if (index > -1) {
            this.splice(index, 1);
        }
    };

    function timestampToTime(timestamp) {
        var date = new Date();//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        var D = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ';
        var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
        var m = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
        var s = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds());

        strDate = Y + M + D + h + m + s;
        return strDate;

    }

    //转换年月日方法
    function getDate(format, str) {
        var oDate = new Date(str),
            oYear = oDate.getFullYear(),
            oMonth = oDate.getMonth() + 1,
            oDay = oDate.getDate(),
            oHour = oDate.getHours(),
            oMin = oDate.getMinutes(),
            oSec = oDate.getSeconds();
        var oTime;
        if (format == 'yyyy-mm-dd') {
            oTime = oYear + '-' + getzf(oMonth) + '-' + getzf(oDay);//最后拼接时间
        } else if (format == 'yyyy/mm/dd') {
            oTime = oYear + '/' + getzf(oMonth) + '/' + getzf(oDay) + ' ' + getzf(oHour) + ':' + getzf(oMin) + ':' + getzf(oSec);//最后拼接时间
        } else if (format == 'mm-dd') {
            oTime = getzf(oMonth) + '-' + getzf(oDay);//最后拼接时间
        }
        return oTime;
    };

    //补0操作
    function getzf(num) {
        if (parseInt(num) < 10) {
            num = '0' + num;
        }
        return num;
    }


</script>
</html>
